" disable error bells
set visualbell
set noerrorbells

"" Source your .vimrc
" this breaks the enter key, wtf???
"source ~/.vim/vimrc
source ~/.vim/base_config.vim
" <C-^> isn't recognized, patching with this...
nnoremap r :e #<CR>

" harpoon (see :actionlist harpoon)
nnoremap <leader>a :action AddToHarpoon<CR>
" doesn't work. mapped in IDE to ctrl-p.
" nnoremap <leader>e :action ShowHarpoon<CR>
nnoremap <C-j> :action GotoHarpoon1<CR>
nnoremap <C-k> :action GotoHarpoon2<CR>
nnoremap <C-l> :action GotoHarpoon3<CR>
" <C-;> is mapped in intelliJ, vim can't recognize
nnoremap mj :action SetHarpoon1<CR>
nnoremap mk :action SetHarpoon2<CR>
nnoremap ml :action SetHarpoon3<CR>
nnoremap m; :action SetHarpoon4<CR>


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Don't use Ex mode, use Q for formatting.
map Q gq
